.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #cb0000;

}

.toolbar img {
    margin: 0 16px;
}

.toolbar #linkedin-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #linkedin-logo:hover {
    opacity: 0.8;
}

.spacer {
flex: 1;
}
