<h3>Acerca de este projecto</h3>

<p>El presente es un prototipo de aplicacion para la traducci&oacute;n del espa&ntilde;ol al wayuunaiki y wayuunaiki al espa&ntilde;ol orientado al contexto turistico. Producto de la investigaci&oacute;n para optar al titulo de Mag&iacute;ster en Ingenier&iacute;a Anal&iacute;tica de Datos de la Universidad de Bogot&aacute; Jorge Tadeo Lozano.</p>
<p>Este traductor se diferencia de otros similares en:</p>
<ul>
    <li>La tecnica de traducci&oacute;n, redes neuronales recurrentes con mecanismo de atenci&oacute;n.</li>
    <li>El codigo fuente permanecera libre, bajo licencia GNU, para que otros investigadores puedan continuar la investigaci&oacute;n.</li>
    <li>El corpus recolectado permanecerá libre y disponible, el unico requerimiento es que la fuente sea citada.</li>
    <li>El despliegue de esta aplicación es basado en plataformas libres para que siempre pueda ser consultado.</li>
</ul>

<h5>Colaboradores</h5>

<ul>
    <li>
        <a href="https://twitter.com/dez_leo1?lang=en"
            target="_blank" 
            rel="noopener" 
            style="color: #ff2a2a;">
            Leonardi Fernandes, traductor lider.
        </a>
    </li>
    <li>Jandy Rodriguez, traductor.</li>
    <li>Neima Paz, traductora.</li>
    <li>
        <a href="https://co.linkedin.com/in/ojcifuentes"
            target="_blank" 
            rel="noopener" 
            style="color: #ff2a2a;">
            Osnaider Cifuentes, diseñador grafico.
        </a>
    </li>
</ul>

<p>Tambien usamos parte del corpus JW300 v1b (filtrado por longitud de token):</p>

Željko Agić, Ivan Vulić: "JW300: A Wide-Coverage Parallel Corpus for Low-Resource Languages", In Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (ACL), 2019.